@page
@model internRegistration.Pages.EditModel
@{
}



<br>
<h2> Edit Intern Details </h2>


@if (Model.errorMessage.Length > 0)
{
    <div class=" alert alert-warning alert-dismissible fade show " role="alert">
        <strong> @Model.errorMessage</strong>
        <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.internInfo.id" />

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label "> Name</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.internInfo.name" />
        </div>
    </div>

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label "> Email</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.internInfo.email" />
        </div>
    </div>

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label "> Phone</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.internInfo.phone" />
        </div>
    </div>

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label ">Address</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.internInfo.address" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class=" alert alert-success alert-dismissible fade show " role="alert">
            <strong> @Model.successMessage</strong>
            <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
    }



    <div class="row mb-3">
        <div class=" offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class=" btn btn-primary "> Submit</button>
        </div>
        <div class=" col-sm-3 d-grid">
            <a class=" btn btn-outline-primary " href="/" role="button"> Cancel</a>
        </div>

    </div>

</form>


