@page
@model internRegistration.Pages.SignupModel
@{
}
<br>
<h2> Register With Us  </h2>


 @* @if (Model.errorMessage.Length > 0)
{
    <div class=" alert alert-warning alert-dismissible fade show " role="alert">
        <strong> @Model.errorMessage</strong>
        <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
} *@

<form method="POST">
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label ">First Name</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.userInfo.Firstname" />
        </div>
    </div>

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label "> Last Name</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.userInfo.Lastname" />
        </div>
    </div>

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label "> Email</label>
        <div class=" col-sm-6">
            <input type="email" class="form-control" name="phone" value="@Model.userInfo.Email" />
        </div>
    </div>

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label ">Password</label>
        <div class=" col-sm-6">
            <input type="password" class="form-control" name="address" value="@Model.userInfo.Password" />
        </div>
    </div>

    @* @if (Model.successMessage.Length > 0)
    {
        <div class=" alert alert-success alert-dismissible fade show " role="alert">
            <strong> @Model.successMessage</strong>
            <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
    }
 *@


    <div class="row mb-3">
        <div class=" offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class=" btn btn-primary "> Submit</button>
        </div>
        <div class=" col-sm-3 d-grid">
            <a class=" btn btn-outline-primary " href="/" role="button"> Cancel</a>
        </div>

    </div>

</form>
